@using AM.Web.Models
@using AM.Model.Enums
@model UniversalViewModel
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row" id="user-login">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("SignIn", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @*@Html.AntiForgeryToken()*@
                <input type="hidden" id="IsLogin" name="IsLogin" value="true" />
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" value="Log in" class="btn btn-default">Log In</button>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
    </script>

    <script>
        $("#user-login button[type=submit]").on("click", function () {
            var data = {
                __RequestVerificationToken: gettoken(),
                Email: $("#Email").val(),
                Password: $("#Password").val(),
                ViewingPage: "@ViewingPage.Login"
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SignIn", "Account", new { area = "" })',
                data: data,
                //dataType: "json",
                cache: false,
                success: function (result) {
                    //if (typeof (result) === "object") {     // JSON
                    if (!result.IsSuccess) {
                        if (result.StatusMsg !== null &&
                            result.StatusMsg !== "")
                             toastr.warning(result.StatusMsg);
                        else
                            toastr.warning("AJAX ERROR: There was a problem processing your request.");

                    } else {
                        document.location.href = result.RedirectUrl;
                    }
                    //} else {                                // HTML
                    //    //$("#profile-listing").fadeOut().find("tbody").empty().append(result).promise().done(function () {
                    //    //});
                    //}
                },
                fail: function (result) {

                    if (result.StatusMsg !== null &&
                        result.StatusMsg !== "")
                        toastr.warning(result.StatusMsg);
                    else
                        toastr.warning("AJAX ERROR: There was a problem processing your request.");
                }
            });
            return false;
        });
    </script>
}